.jumbotron {
  margin-bottom: 4em;
}
.cat-wrapper {
  margin-bottom: 2em;
}

.picture {
  width: 50%;
}

h3 {
  margin-bottom: 1em;
}

.slider-list {
    height: auto!important;
}

.slider-slide {
    position: sticky!important;
}

.img {
  background-size: cover;
}
