
.wrapper {
  margin-bottom: 2em;
  margin-left: 25em;
}

.picture {
  width: 50%;
}

.main-picture {
  position: relative;
  z-index: 3;
  width: 160px;
  height: 160px;
  margin-left: 490px;
  margin-top: -130px;


}
h3 {
  margin-bottom: 1em;
}

h2 {
  text-align: center;
  color: #02285A;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.head {
  height: 30vh;
  min-height: 500px;
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-wrapper {
  margin-left: 10px;
}
