
.cat-wrapper {
  margin-bottom: 2em;
}

.picture {
  width: 50%;
}

.main-picture {
  position: relative;
  z-index: 3;
  width: 160px;
  height: 160px;
  margin-left: 490px;
  margin-top: -130px;


}
h3 {
  margin-bottom: 1em;
}

h2 {
  text-align: center;
  color: #02285A;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
}

.head {
  height: 30vh;
  min-height: 500px;
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-link{

  height: 104px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  text-align: center;

  color: #555555;
}

.btn-link:focus{
  background-color: #C4C4C4;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
}
