.content {
  background-color: rgba(110, 211, 255, 0.35);
  overflow-x:hidden;
}

  .jumbotron {
  background-image: url('../img/back.jpg');
  background-size: cover;
  height: 250vh;
  background-position: 70%;
  z-index: 2;
  position: relative;
  margin-top: -100px;
}

.cat-wrapper {
  margin-bottom: 5em;
}

.picture {
  width: 100px;
  height: 120px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.3);
}

Image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
}
h3 {
  text-align: center;
  padding-top: 70px;
  padding-bottom:100px;
  font-family: Roboto;
  font-style: normal;

}
h4 {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  color: #000000;
  font-family: Roboto;
  font-style: normal;

}

span {
	position	: absolute;
  z-index: 3;
	top		: 150px;
	left	: 100px;
	width	: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 100px;
  color: #FFFFFF;

}

p {
  position	: absolute;
  z-index: 4;
	top		: 250px;
	left	: 100px;
	width	: 100%;
  font-size: x-large;
  color: white;

}
.slider-list {
    height: auto!important;
    position: relative;
    z-index: 1;

}

.slider-slide {
    position: sticky!important;
    background-size: cover;
}
